

<footer class="d-flex flex-wrap justify-content-between align-items-center   bg-black">
    <p class="col-md-4 px-3 mb-0 text-contrast">© 2022 PIZZA RICH, Inc</p>

    <a href="@Url.Action("Index","Home")" class="col-md-4 py-5 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
        <img src="~/img/logoCorona.png" alt="Logo" width="60" height="60" class="d-inline-block align-text-top">
    </a>

    <ul class="nav col-md-4 px-3 justify-content-end ">
        <li class="nav-item"><a href="@Url.Action("Index","Home")" class="text-contrast nav-link px-2">Home</a></li>
        <li class="nav-item"><a href="#" class="text-contrast nav-link px-2">Contattaci</a></li>
        <li class="nav-item"><a href="#" class="text-contrast nav-link px-2">About</a></li>
    </ul>
</footer>