
@model List<PizzaModel>
<div class="container-fluid bg-elegant">
 
    <div class="row bg-rich">
        <div class="col-md-6 no-padding">

        </div>
        <div class="col-md-6 no-padding">
            <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="~/img/HomeCarousel/pizzaRicca4.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="~/img/HomeCarousel/pizzaRicca2.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="~/img/HomeCarousel/pizzaRicca3.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="~/img/HomeCarousel/pizzaRicca1.jpg" class="d-block w-100" alt="...">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">

    <div class="row">
        <div class="col-12">
            <div class="w-50 m-auto">
                <h5 class="mt-5">Dove la tradizione italiana incontra l’eccellenza culinaria</h5>
                <h1 class="text-elegant mt-3">PIZZA RICH</h1>

                <p class="mt-2 mb-5">
                    Offriamo ai nostri clienti un’esperienza gastronomica unica
                    e indimenticabile. Utilizziamo solo ingredienti di alta qualità e prepariamo ogni pizza con cura e
                    attenzione ai dettagli.
                </p>
            </div>
            

        </div>
        <div class="col-6 no-padding">

            <img class="img-fluid my-4" src="~/img/Pizze/margherita.jpg" alt="" />
        </div>
        <div class="col-6 no-padding"></div>


        <div class="col-6 no-padding"></div>
        <div class="col-6 no-padding">

            <img class="img-fluid my-4" src="https://www.viadurini.it/data/prod/img/bicchieri-double-old-fashioned-tumbler-di-lusso-8-pezzi-assortiti-malgioglio-9.jpg" alt="" />


        </div>

    </div>
</div>

<div class="container-fluid ">
    <div class="row bg-crowns no-padding" style="height:500px">
           
    </div>
</div>




 



