@using LaMiaPizzeria.Models.ModelForViews
@model PizzaModel_ListPizzaCategory


<h1>Aggiungi una nuova pizza</h1>

<div class="container">
    <form asp-controller="Menu" asp-action="Create" method="post">
        @Html.AntiForgeryToken() 
        <div class="mb-3">
            <label asp-for="Pizza.Name" class="form-label">Nome:</label>
            <input asp-for="Pizza.Name" type="text" class="form-control" required>
            <span asp-validation-for="Pizza.Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Pizza.Description" class="form-label">Descrizione:</label>
            <textarea asp-for="Pizza.Description" rows="10" class="form-control"></textarea>
            <span asp-validation-for="Pizza.Description" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Pizza.ImgSource" class="form-label">URL Immagine:</label>
            <input asp-for="Pizza.ImgSource" type="text" class="form-control" required>
            <span asp-validation-for="Pizza.ImgSource" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Pizza.Price" class="form-label">Prezzo:</label>
            <input asp-for="Pizza.Price" type="text" class="form-control" required>
            <span asp-validation-for="Pizza.Price" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <strong>Categoria:</strong>
            <select asp-for="Pizza.pizzaCategoryId" title="ProductCategory" rows="10" class="d-block w-100">
                <option value=""></option>
                @foreach (PizzaCategory category in Model.PizzaCategories )
                {
                    <option value="@category.Id" selected="@(Model.Pizza.pizzaCategoryId == category.Id ? "selected" : null)">@category.Name</option>
                }
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Salva</button>
    </form>
</div>
